{% include "store/base.html" %}

{% load static %}

{% block content %}
<!-- inline css for body tag -->
<style>
    body {
        background-color: gray;
    }
</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <div class="text-center">

            <i class="fa fa-frown-o fa-3x text-warning" aria-hidden="true"></i>

            <br>

            <br>

            <h5> <strong> Email verification failed! </strong> </h5>

            <hr>

            <br>

            <p> Please contact admin support. </p>

        </div>

</body>

{% endblock %}