{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

<!-- inline css for body tag -->
<style>
    body {
        background-color: gray;
    }
</style>

{% block content %}

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Welcome, {{ user }} </h3>

        <hr>

        <br>

        <p> This is your dashboard where you can perform any of the following:</p>

        <li> Track your orders </li>
        <li> Manage your account </li>

    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Track your orders </h3>

        <hr>

        <br>

        <a class="btn btn-alert navbar-btn btn-primary" type="button" href="{% url 'track-order' %}"> My Orders </a>

        <br>

    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Manage your account </h3>

        <hr>

        <br>

        <a class="btn btn-alert navbar-btn btn-primary" type="button" href="{% url 'profile-management' %}"> Profile
            Managment </a>

        <br>

        <br>

        <h4> <a href="{% url 'manage-shipping' %}"> Manage your address </a> </h4>

    </div>
</body>

{% endblock %}