{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- inline css for body tag -->
<style>
    body {
        background-color: gray;
    }
</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout" style="background-color: gray;">

        <h3> Delete your account &nbsp; &nbsp; &nbsp; <a class="btn btn-alert navbar-btn btn-primary" type="button"
                href="{% url 'profile-management' %}"> Cancel
            </a> </h3>

        <hr>

        <form action="" method="post" autocomplete="off">

            {% csrf_token %}


            <p> Are you sure that you want to delete your account? </p>

            <button type="submit" class="btn btn-danger btn-lg w-100 btn-block p-1"> &nbsp; Delete
            </button>

        </form>

    </div>

</body>

{% endblock %}