{% include "store/base.html" %}

{% load static %}

{% block content %}
<!-- inline css for body tag -->
<style>
    body {
        background-color: gray;
    }
</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <div class="text-center">

            <i class="text-success fa fa-3x fa-credit-card-alt" aria-hidden="true"></i>

            <br>

            <br>

            <h5> <strong> Payment Success! </strong> </h5>

            <hr>

            <p> Your order was processed successfully. </p>

        </div>

</body>

{% endblock %}